{% extends 'html/base.html' %}


{% block content %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="text-center mb-5">
      <h3>Job Openings</h3>
      <p class="lead">Let’s find your dream job!</p>
    </div>

   {% for job in all_jobs %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <div class="row flex-fill">
            <div class="col-sm-5">
              <h4 class="h5">{{ job.title }}</h4>
              <span class="badge bg-secondary">{{ job.location }}</span> <span class="badge bg-success">{{ job.salary_range }}</span>
            </div>
            <div class="col-sm-4 py-2">
              <span class="badge bg-secondary">{{ job.industry }}</span>
              <span class="badge bg-secondary">{{ job.employment_type }}</span>
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="{{ url_for('bp_user.view_info', _id=job._id) }}" class="btn btn-primary">Info</a>
                <span>
                    <a href="#" class="btn btn-success">Apply</a>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
   {% endfor %}

{% endblock %}


