<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
        <form method="POST">
            {{ form.hidden_tag() }}

            <br/>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            <br/>
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}
            <br/>
            {{ form.login_button(class="btn btn-secondary") }}



        </form>

    </div>
</body>
</html>