{% extends 'html/base.html' %}


{% block content %}

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

   {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="shadow p-3 mb-5 bg-body rounded">
    <form class="row g-3" method="POST">
         {{ form.hidden_tag() }}
         <div class="col-12">
         {{ form.title.label(class="form-label") }}
         {{ form.title(class="form-control") }}
         </div>
         <div class="col-md-6">
         {{ form.industry.label(class="form-label") }}
         {{ form.industry(class="form-control") }}
         </div>

        <div class="col-md-6">
         {{ form.employment_type.label(class="form-label") }}
         {{ form.employment_type(class="form-control") }}
        </div>
        <div class="col-md-6">
         {{ form.location.label(class="form-label") }}
         {{ form.location(class="form-control") }}
        </div>
        <div class="col-md-6">
         {{ form.salary_range.label(class="form-label") }}
         {{ form.salary_range(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.required_experience.label(class="form-label") }}
         {{ form.required_experience(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.required_education.label(class="form-label") }}
         {{ form.required_education(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.requirements.label(class="form-label") }}
         {{ form.requirements(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.department.label(class="form-label") }}
         {{ form.department(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.benefits.label(class="form-label") }}
         {{ form.benefits(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.function.label(class="form-label") }}
         {{ form.function(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.company_profile.label(class="form-label") }}
         {{ form.company_profile(class="form-control") }}
         </div>
        <div class="col-md-6">
         {{ form.description.label(class="form-label") }}
         {{ form.description(class="form-control") }}
         </div>
        <div class="col-12">
            <div class="form-check">
                {{ form.has_company_logo.label(class="form-check-label", for="gridCheck") }}
                {{ form.has_company_logo(class="form-check-input", type="checkbox") }}
                Company Logo
            </div>
            <div class="form-check">
                {{ form.telecommuting.label(class="form-check-label", for="gridCheck") }}
                {{ form.telecommuting(class="form-check-input", type="checkbox") }}
                Telecommuting
            </div>
            <div class="form-check">
                {{ form.has_questions.label(class="form-check-label", for="gridCheck") }}
                {{ form.has_questions(class="form-check-input", type="checkbox") }}
                Questions
            </div>
        </div>
        <div class="col-12">
            {{ form.submit_post(class="btn btn-primary") }}
        </div>
    </form>
    </div>

{% endblock %}