{% extends 'html/base.html' %}


{% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form class="row g-3" method="POST">
         {{ form.hidden_tag() }}
         <div class="col-12">
         {{ form.title.label(class="form-label") }}
         {{ form.title(class="form-control") }}
         </div>
         <div class="col-md-6">
         {{ form.industry.label(class="form-label") }}
         {{ form.industry(class="form-control") }}
         </div>

        <div class="col-md-6">
         {{ form.employment_type.label(class="form-label") }}
         {{ form.employment_type(class="form-control") }}
        </div>
        <div class="col-md-6">
         {{ form.location.label(class="form-label") }}
         {{ form.location(class="form-control") }}
        </div>
        <div class="col-md-6">
         {{ form.company_profile.label(class="form-label") }}
         {{ form.company_profile(class="form-control") }}
         </div>
        <div class="col-12">
            <div class="form-check">
                {{ form.has_company_logo.label(class="form-check-label", for="gridCheck") }}
                {{ form.has_company_logo(class="form-check-input", type="checkbox") }}
                Company Logo
            </div>
        </div>
        <div class="col-12">
            {{ form.create_post(class="btn btn-secondary") }}
        </div>
    </form>
    </div>

{% endblock %}